header{
    background-image:url(imagens/pagdefundopesoideal.jpg);
    background-size: cover;
    height: 900px;  
    width: 1500px; 
    border: solid 0.1px transparent;
 
}


form{

    display: grid;
    justify-content: center;
    align-items: center;
    
}

h1{
    display: grid;
    justify-content: center;
   
}

h3{
    display: grid;
    justify-content: center;

}

resp{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
